__pycache__/
*.pyc
.ipynb_checkpoints/
.env
node_modules/
.expo/
dist/
android/
ios/
data/raw/
artifacts/
*.onnx
!app/assets/model/model.onnx
*.pt
*.zip
.DS_Store
.venv/
.pytest_cache/
*.pth
.vscode/
.idea/
